* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    background-color: #f1f8fb;
    position: relative;
}

.header a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
}

.main-screen {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}

.nav,
.order,
.orders,
.products,
.product-card {
    background-color: #e8f1f5;
    border-radius: 5px;
    padding: 10px;

    margin-bottom: 10px;
    align-self: start;
}


.nav__title,
.orders__title,
.order__title,
.products__title,
.product-card__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 5px;
}


.order__content,
.nav__item a {
    margin-bottom: 10px;

    background: #ffffff;
    border-radius: 5px;
    padding: 5px;

    display: block;
    text-decoration: none;
    color: black;
}

.nav__item a:hover {
    background: #f1f8fb;
    transform: scale(1.01);
}


.order,
.products,
.product-card {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ffffff;
    padding: 1px 5px;
    border-radius: 3px;
}

.close-btn:hover {
    background: #f1f8fb;
}

.isHide {
    display: none;
}


.product {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;

    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 15px;
}

.product:last-child {
    margin-bottom: 0;
}

.product:hover {
    background: #f1f8fb;
}

.product__img img {
    width: 100%;
    height: auto;
}

.product__title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product__details {
    display: flex;
    justify-content: end;
}

.product__details a {
    text-decoration: none;
    color: black;
}

.product__details a:hover {
    border-bottom: 1px solid black;
}


.product-card {
    align-self: start;
}

.card {
    background: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    min-height: 250px;
}

.card__img {
    display: flex;
    justify-content: center;
    padding: 5px 0;

    border-bottom: 1px solid #e8f1f5;
    margin-bottom: 5px;
}

.card__img img {
    width: 70%;
    object-fit: cover;
}

.card__info-block {
    margin-bottom: 10px;
    padding: 5px;
}

.card__info-block div {
    margin-bottom: 5px;
}

.card__title {
    font-weight: bold;
}

.card__buy-block {
    display: flex;
    justify-content: space-between;
}

.card__price {
    padding: 3px 5px;
    font-weight: bold;
}

.card__buy-btn {
    background-color: #64ee31;
    padding: 3px 5px;
    border-radius: 3px;
}

.card__buy-btn:hover {
    background-color: #54d226;
}


/* modal block*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.isHideModal {
    visibility: hidden;
    z-index: -1;
    opacity: 0;
}

.modal-window {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #90d3f4;
    opacity: 0.3;
    z-index: 1;
}

form {
    border: 3px solid #e8f1f5;
    background: white;

    padding: 15px;
    border-radius: 5px;
    width: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
}

input,
textarea {
    width: 100%;
    border: 2px solid #e8f1f5;
}

textarea:focus,
input:focus {
    outline: none;
    border: 2px solid #90d3f4;
}

input[type="radio"] {
    width: auto;
    display: inline-block;
    margin-left: 15px;
}

.radio {
    display: flex;
    justify-content: start;
    align-content: center;
    gap: 10px;
}

select {
    border: 2px solid #e8f1f5;
}

textarea {
    resize: vertical;
    width: 100%;
    max-height: 200px;
}

.product-info,
.full-name,
.comment-block {
    grid-column: 2 span;
}

.buttons {
    grid-column: 2 span;

    display: flex;
    justify-content: end;
    gap: 10px;
}

.order__delete-btn,
.order__show-details-btn,
.close-btn {
    border: 2px solid #e8f1f5;
}

button {
    border: 2px solid #e8f1f5;
    padding: 5px;
    border-radius: 5px;
}

button:hover,
.close-btn:hover,
.order__delete-btn:hover,
.order__show-details-btn:hover {
    background: #a6ddf8;
    border: 2px solid #90d3f4;
}

label {
    display: block
}



/* orders */
.orders__show-btn {
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;

    background: #bee2fa;
    border: 2px solid #c5e8fa;
}

.orders__show-btn:hover {
    background: #a6ddf8;
    border: 2px solid #a6d5f3;
}

.isDeactivated {
    pointer-events: none;
    background-color: #f1f8fb;
}

.order__buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.order__delete-btn,
.order__show-details-btn {
    top: 5px;
    right: 5px;
    background-color: #ffffff;
    padding: 1px 5px;
    border-radius: 3px;
}

.main .order {
    border: 1px solid transparent;
}

.main .order:hover {
    border: 1px solid #dae9ef;
}